.logo {
	position: fixed;
	top: 15px;
	left: 15px;
	color: #FFFFFF;
	font: 900 2rem 'Lato';
}

	.fold {
		width: 100%;
		height: 100vh;
		background: url(../img/background.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		overflow: hidden;
	}

		.fold__overlay {
			position: relative;
			width: 100%;
			min-height: 100%;
			background-color: rgba(0,0,0, .65);
			overflow: auto;
		}

		.fold__content {
			padding: 60px 30px;
		}

	main {
		width: 100%;
		color: #FFFFFF;
		font: 300 1.25rem 'Lato';
		text-align: center;
	}

	main header {
		display: inline-block;
		margin-bottom: 70px;
	}

	main header h1 {
		padding-bottom: 5px;
		font-size: 3rem;
		letter-spacing: 3px;
		border-bottom: 2px solid #FFFFFF;
	}

	main header p {
		margin-top: 10px;
		font-size: 1.75rem;
		letter-spacing: 2px;
	}

	main > p {
		display: block;
		max-width: 420px;
		margin: 20px auto;
		font: italic 300 1.75rem 'Lato';
	}

	main a {
		display: inline-block;
		margin-top: 30px;
		padding: 20px 40px;
		color: #FFFFFF;
		background-color: #5271ff;
		font-size: 1.5rem;
		font-weight: 900;
		text-decoration: none;
	}

@media (min-width: 768px) {

	.fold__content {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

}

@media (min-width: 992px) {

	main header h1 {
		font-size: 4.5rem;
	}

	main header p {
		font-size: 2rem;
	}

}